<div class="file-upload-form">
  <div *ngIf="newFile"
        class="form-group">
      <label for="file"
            class="control-label">
            Choose File
      </label>

      <input type="file"
              class="form-control"
              id="file"
              (change)="handleFileInput($event.target.files)">
  </div>
  <div *ngIf="errorMessage.length>0">
    <p class="error-message">
      {{ errorMessage }}
    </p>
  </div>
  <br>
  <div *ngIf="showForm">
    <p>These are the details of <strong>{{ newFileUploaded }}</strong>. Change if you need to.</p>
    <br>

    <form class="form-horizontal"
          [formGroup]="fileUploadForm"
          (ngSubmit)="fileUpdate()">

        <div class="form-group">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 text-align-right">
              <label for="filedesc"
                      class="control-label">
                  File description
              </label>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <textarea rows="2" cols="40"
                      class="form-control"
                      id="filedesc"
                      formControlName="file_description">
              </textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-3 text-align-right">
              <label for="makepublic"
                      class="control-label">
                  Make Public?
              </label>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-9">
              <input type="checkbox"
                    class="form-control"
                    formControlName="make_public">
            </div>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-6">
            <button type="submit"
                    class="btn btn-primary">
                    Submit
            </button>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <button type="button"
                    class="btn btn-danger"
                    (click)="uploadCancel()">
                    Cancel
            </button>
          </div>
        </div>
    </form>

  </div>
</div>
