<p *ngIf="publicFileList.length<1">
  There are no public files at this point of time.
</p>

<div *ngIf="publicFileList.length>1">
  <div class="row">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-md-2 col-sm-2 col-xs-12 text-align-right">
          <label class="control-label"
                  for="public-file">
                  Public files:
          </label>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-12">
          <select class="form-control"
                  name="publicfile"
                  id="public-file"
                  [(ngModel)]="publicFileSelection"
                  (change)="displayFileDetails($event)">
            <option [value]="fileItem" *ngFor="let fileItem of publicFileList">
              {{ fileItem }}
            </option>
          </select>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-6 space-above">
          <button type="button"
                  class="btn btn-primary"
                  (click)="loadPublicFile()">
                  Load
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-file-display
          *ngIf="showFileDetails"
          [fileName]="showFileName">
</app-file-display>
