<div class="toolbar">
  <div class="row">
    <div class="col-xs-3 nopadding">
      <button type="button"
              class="toolbar-button"
              (click)="startQuery()">
              QUERY
      </button>
    </div>
    <div class="col-xs-3 nopadding">
      <button type="button"
              class="toolbar-button">
              PLOT
      </button>
    </div>
    <div class="col-xs-6 nopadding">
      <!-- <button type="button"
              class="toolbar-button">
              FILEBROWSER
      </button> -->
      <select class="toolbar-dropdown"
              name="filename"
              id="file-list"
              [(ngModel)]="fileSelection">
        <option [value]="fileItem" *ngFor="let fileItem of fileList">
          {{ fileItem }}
        </option>
      </select>
    </div>
  </div>
</div>
