<div class="toolbar">
  <div class="row">
    <div class="col-xs-3 nopadding">
      <button type="button"
              class="toolbar-button"
              (click)="startQuery()">
              QUERY
      </button>
    </div>
    <div class="col-xs-3 nopadding">
      <button type="button"
              class="toolbar-button">
              PLOT
      </button>
    </div>
    <div class="col-xs-6 nopadding">
      <button type="button"
              class="toolbar-button">
              FILEBROWSER
      </button>
    </div>
  </div>
</div>
