<div class="form-container">

  <form [formGroup]="userRegistrationForm"
        (ngSubmit)="registerUser()"
        class="form-horizontal">

      <div class="form-group">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12 text-align-right">
            <label for="regUserName"
                    class="control-label">
                    Username
            </label>
          </div>

          <div class="col-md-4 col-sm-8 col-xs-12">
            <input type="text"
                    id="regUserName"
                    class="form-control"
                    formControlName="username">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12 text-align-right">
            <label for="regUserPassword"
                    class="control-label">
              Password:
            </label>
          </div>

          <div class="col-md-4 col-sm-8 col-xs-12">
            <input type="password"
                    id="regUserPassword"
                    class="form-control"
                    formControlName="password">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-8">
          <button type="submit"
                  class="btn btn-primary">
                  Register
          </button>
          <div *ngIf="errorMessage.length>0">
            <br>
            <p class="error-message">{{ errorMessage }}</p>
          </div>
          <div *ngIf="statusMessage.length>0">
            <br>
            <p class="success-message">{{ statusMessage }}</p>
          </div>
        </div>
      </div>

  </form>

</div>
