<div *ngIf="userLoggedIn&&userFileBrowser">
  <p *ngIf="fileList.length<2">
    You don't have any files yet. Upload some to get started.
  </p>
</div>

<div *ngIf="!userLoggedIn&&!userFileBrowser">
  <p *ngIf="fileList.length>=2">
    You are not logged in. You can access publicly available files.
  </p>
  <p *ngIf="fileList.length<2">
    There are no public files at this point of time.
  </p>
</div>

<div *ngIf="fileList.length>1">
  <div class="row">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-md-2 col-sm-2 col-xs-12 text-align-right">
          <label class="control-label"
                  for="file-list">
                  <span *ngIf="userFileBrowser">
                    Your files:
                  </span>
                  <span *ngIf="!userFileBrowser">
                    Public files:
                  </span>
          </label>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-12">
          <select class="form-control"
                  name="filename"
                  id="file-list"
                  [(ngModel)]="fileSelection"
                  (change)="displayFileDetails($event)">
            <option [value]="fileItem" *ngFor="let fileItem of fileList">
              {{ fileItem }}
            </option>
          </select>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-6 space-above">
          <button type="button"
                  class="btn btn-primary"
                  (click)="loadFile()">
                  Load
          </button>
        </div>
        <div *ngIf="userLoggedIn"
              class="col-md-2 col-sm-2 col-xs-6 space-above">
          <button type="button"
                  class="btn btn-danger"
                  (click)="deleteFileMessage()">
                  Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="confirmDeleteMessage">
  Are you sure you would like to delete this file? &nbsp; &nbsp;
  <button type="button"
          class="btn btn-danger"
          (click)="confirmedDelete()">
          Yes
  </button>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <button type="button"
          class="btn btn-general"
          (click)="confirmDeleteMessage=false">
          No
  </button>
  <br> <br>
</div>


<app-file-display
          *ngIf="showFileDetails"
          [userFileBrowser]="userFileBrowser"
          [fileName]="showFileName"
          (hideCommand)="showFileDetails=false">
</app-file-display>
