<app-page-header></app-page-header>

<div class="container">

  <div class="data-home-container">
      <app-file-browser [fileList]="userFileList"
                        [userLoggedIn]="userLoggedIn"
                        (fileSelected)="loadUserFile($event)"
                        (deleteFile)="userDeleteFile($event)"
                        [userFileBrowser]="true">
      </app-file-browser>

      <app-file-browser [fileList]="publicFileList"
                        [userLoggedIn]="userLoggedIn"
                        (fileSelected)="loadPublicFile($event)"
                        [userFileBrowser]="false">
      </app-file-browser>

      <br>

      <div *ngIf="!fileUpload">
        <button type="button"
                class="btn btn-primary"
                (click)="fileUpload=true">
                Upload a file
        </button>
      </div>
      <div *ngIf="fileUpload">
        <app-file-upload-form
              (fileDetails)="newFileUploaded($event)"
              [newFile]="true">
        </app-file-upload-form>
      </div>
      <br>
      <p *ngIf="fileUploadMessage.length>0"
          class="success-message">
          {{ fileUploadMessage }}
      </p>
      <p *ngIf="errorMessage.length>0"
          class="error-message">
          {{ errorMessage }}
      </p>
      <br>

      <app-user-commands>
      </app-user-commands>

  </div>

</div>
