<app-page-header></app-page-header>

<div class="container">
  <h1>Data Analysis</h1>
  <br>

  <div *ngIf="!fileUpload">
    <button type="button"
            class="btn btn-primary"
            (click)="fileUpload=true">
            Upload a file
    </button>
  </div>
  <div *ngIf="fileUpload">
    <app-file-upload-form (fileDetails)="newFileUploaded($event)"></app-file-upload-form>
  </div>
  <br>
  <p *ngIf="fileUploadMessage.length>0"
      class="success-message">
      {{ fileUploadMessage }}
  </p>
</div>
