<app-page-header></app-page-header>

<div class="container">
  <h1>About</h1>
  <br>
  <p style="font-size:130%">
    This project contains a number of datasets that are normally found online. Unrestricted logins are disabled as a user who can login can upload a file and there is a possibility for a malicious file to be uploaded. However, you can access the data analytical and visualization tools as a guest.
  </p>
  <p style="font-size:130%">
    This project uses Angular 6 for the frontend, Python 3.5/Django 2.2 for the backend, Pandas and Plotly for the data analysis and visualization. The objective is to be able to simplify visualization for a non-programmer who can generate plots of datasets without commands. The frontend converts the user's visualization needs from simple clicks into Pandas and Plotly commands.
  </p>
  <p style="font-size:130%">
    For more information on this project, contact me at pythonpowerelectronics@gmail.com. To check out my other projects, click <a href="http://webdevandresearch.com/projects" target="_blank">here</a>.
  </p>
</div>
